@import url("https://fonts.googleapis.com/css?family=Coda|Roboto+Condensed");

@-webkit-keyframes flicker
{
0% {opacity:0;}
9% {opacity:0;}
10% {opacity:.5;}
13% {opacity:0;}
20% {opacity:.5;}
25% {opacity:1;}
}

#name{
    font-family: 'Roboto Condensed';
    margin-top: 5%;
    margin-left: 5%;
    float: none;
    color: ghostwhite;
    font-size: 300%;
    
}

#bio {
    float: right;
    margin-top: 10%;
    text-align: justify;
    max-width: 50%;
    max-height: 30%;
    text-overflow: ellipsis;
    color: slategray;
    font-size: 20px;
    font-family: 'Coda';
}

#bio h2{
    color: #FFC04C;
    text-align: center;
    padding-right: 40%;
    font-size: 25px;
    font-family: 'Coda'
}

body{
    background-image: url("../img/grey.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: cover;
}

p{
    color: darkgray;
    text-align: left;
    width: 85%;
    
}
#navbar{
    overflow: hidden;
    list-style: none;
    position: fixed;
    top: 1;
    float: left;
    margin-left: 3%;
}

#navbar thead tr td{
    padding-top: 4%;
    padding-bottom: 16%;
}

#navbar tbody tr td a{
    color: ghostwhite;
    text-decoration: none;
    font-style: italic;
    float: left;
    text-align: center;
    padding: 1% 2%;
    font-size: 100%;
    font-family: 'Coda';
}

#navbar tbody tr td a:hover{
    color: #969696;
    text-shadow: 0px 2px 1px #6f7272;
}


#agnlist table{
    list-style: none;
    float: right;
    margin-top: 10%;
    margin-right: 10%;
}


h1{
    color: #FFC04C;
    text-decoration: none;
    margin-top: 4%;
    padding: 1% 8%;
    float: right;
    font-size: 150%;
    font-family: 'Coda';
}

th{
    color: #FFC04C;
    text-decoration: none;
    padding: 1% 2%;
    text-align: center;
    font-size: 150%;
    font-family: 'Coda';
}

#myCanvas{
    clear: both;
    float: right;
    margin-right: 5%;
    margin-top: 30%;
}

#myCanvas2{
    clear: both;
    float: right;
    margin-top: 5%;
    margin-right: 5%;
}

#text{
    clear: both;
    float: right;
    
}

#a5p{
    font-size: 120%;
    width: 645px;
    padding: 20px 60px;
    font-family: 'Roboto Condensed';
    
}

#a5l{
    font-size: 120%;
    font-family: 'Roboto Condensed';
    width: 645px;
    padding: 20px 60px;
    color: darkgray;
    
}

#desc{
    font-size: 15px;
    width: 600px;
    padding-top: 3%;
}

#datalist table{
    list-style: none;
    float: right;
    margin-top: 20%;
    margin-right: 5%;
}

#datalist table thead tr th{
    color: #41443B;
    text-decoration: none;
    padding-left: 190px;
    padding-right: 190px;
    text-align: center;
    font-size: 25px;
    font-family: 'Coda';
}

#datalist ul li a:hover{
    color: #41443B;
    text-shadow: 0px 2px 1px #6f7272;
}

#datalist ul li{
    padding-top: 1em;
}

#projectlist ul{
    list-style: none;
    float: right;
    margin-right: 10%;
    margin-top: 10%;
}

#projectlist ul li a{
    color: #FFC04C;
    text-decoration: none;
    padding-left: 1em;
    padding: 4px 2px;
    text-align: center;
    font-size: 25px;
    font-family: 'Coda';
}

#projectlist ul li a:hover{
    color: #ffdfa5;
    text-shadow: 0px 2px 1px #6f7272;
}

#projectlist ul li{
    padding-top: 1em;
}

#agnlist ul{
    list-style: none;
    float: right;
    margin-right: 10%;
    margin-top: 10%;
}

#agnlist ul li a{
    color: #FFC04C;
    text-decoration: none;
    padding-left: 1em;
    padding: 4px 2px;
    text-align: center;
    font-size: 25px;
    font-family: 'Coda';
}

#agnlist ul li a:hover{
    color: #ffdfa5;
    text-shadow: 0px 2px 1px #6f7272;
}

#agnlist ul li{
    padding-top: 1em;
}


#datalist ul{
    list-style: none;
    float: right;
    margin-right: 10%;
    margin-top: 10%;
}

#datalist ul li a{
    color: #FFC04C;
    text-decoration: none;
    padding-left: 1em;
    padding: 4px 2px;
    text-align: center;
    font-size: 25px;
    font-family: 'Coda';
}

#datalist ul li a:hover{
    color: #ffdfa5;
    text-shadow: 0px 2px 1px #6f7272;
}

#datalist ul li{
    padding-top: 1em;
}